.App {
  text-align: center;
  &-header {
    background-color: #282c34;
    width: 100%;
  }

  &-article {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &-error-block {
    background: red;
    padding: 20px;
    width: 100%;
    opacity: .3;


    &:empty {
      display: none;
    }
  }
}
